.heading{
    text-align: center;
}

.employeeForm{
    /* padding: auto; */
    align-content: center;
    margin-left: 33%;
}

.add {
    /* text-align: right; */
    margin-left: 20%;
}
/* .row{
    align-content: center;
} */